body {
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(38,38,38)
}

h1 {
    font-size: 3rem;
    font-family: Courier New, serif;
    color: rgb(216,218,190);
}

h2 {
    font-size: 2rem;
    font-family: Courier New, serif;
    color: rgb(216,218,190);
}

p {
    font-size: 1rem;
    font-family: Courier New, serif;
}

#footer {
    font-size: 0.75rem;
    color: rgb(216,218,190);
}

.graveyard {                      /* reorganize positions of these rulesets for maximum clarity. */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: ivory;*/
}

.column {
    flex: 50%;
}

.graveyard > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    color: rgb(38,38,38);
    background-color: rgb(216,218,190);
}