@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');

body {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: rgb(38,38,38);
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    font-family: 'Coda', 'Courier New';
    color: rgb(216,218,190);
    padding-top: 20px;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Coda', 'Courier New';
    color: rgb(216,218,190);
    padding-bottom: 0px;
}

p {
    font-size: 1rem;
    font-family: 'Coda', 'Courier New';
    color: rgb(216,218,190);
    margin-top: 4rem;
}

#toolbar {
    display: flex;
    flex-direction: columns;
    position: -webkit-sticky;   /*for Safari browser*/
    position: sticky;
    top: 0;
    width: auto;
    font-size: 1rem;
    font-family: 'Coda';
    font-weight: 400;
    background-color: rgba(190, 190, 0, 0.950);
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 50px;
    text-align: left;
    z-index: 10;
}

#sort {
    width: 90%;
    height: 100%;
    float: left;
    align-self: center;
}

#sort > .btn {
    font-family: 'Coda';
    font-weight: 300;
    font-size: 0.9rem;
    width: 6em;
    margin: 2px;
}

#links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    font-family: 'Coda';
    font-size: 0.9rem;
    float: right;
    margin-bottom: 0px;
    margin-right: 0px;
    align-items: flex-end;
    align-content: right;
    text-align: right;
}

@media (max-width: 600px) {     /* mobile viewports */
    #graveyard {
        display: grid;
        grid-template-columns: 100%;
        background-color: rgb(38,38,38);
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 0px;   
    }

    #graveyard > .nameplate {
        position: relative;
        min-width: 240px;
        min-height: 200px;
        max-height: 90%;
        font-size: 0.8rem;
        background-color: rgb(216,218,190);
        border: 5px solid darkred;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: 5px;
        color: rgb(38,38,38); 
    }

    .nameplate > img {
        float: left;
        width: 50%;
        max-height: 240px;
        max-width: 180px;
        padding-right: 5px;
    }

    .nameplate > .iconify{
        position: absolute;
        bottom: 0.75rem;
        right: 1rem;
        width: 40px;
        height: 40px;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    #graveyard {
        display: grid;
        grid-template-columns: 100%;
        background-color: rgb(38,38,38);
        width: 100%;
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 0px;   
    }

    #graveyard > .nameplate {
        position: relative;
        min-width: 240px;
        min-height: 200px;
        background-color: rgb(216,218,190);
        color: rgb(38,38,38); 
        border: 5px solid darkred;
        margin: 25px;
        padding-right: 5px;
    }
}

@media (min-width: 900px) and (max-width: 1440px) {
    #graveyard {
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: rgb(38,38,38);
        padding: 25px;
        padding-top: 30px;
        padding-bottom: 0px;   
    }

    #graveyard > .nameplate {
        position: relative;
        min-width: 90%;
        max-height: 225px;
        font-size: 0.95rem;
        background-color: rgb(216,218,190);
        color: rgb(38,38,38); 
        border: 5px solid darkred;
        margin: 25px;
        padding-right: 5px;
    }

    .nameplate > .iconify{
        position: absolute;
        bottom: 0.75rem;
        right: 1rem;
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 1440px) {
    #graveyard {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        background-color: rgb(38,38,38);
        padding: 50px;
        padding-top: 30px;
        padding-bottom: 0px;   
    }

    #graveyard > .nameplate {
        position: relative;
        min-width: 90%;
        min-height: 80%;
        color: rgb(38,38,38); 
        background-color: rgb(216,218,190);
        border: 5px solid darkred;
        padding-right: 5px;
        margin: 25px;
    }
}

.nameplate > .title {
    font-family: 'Shanti';
    font-weight: 600;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.nameplate > .description {
    font-family: 'Shanti';
    font-weight: 300;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.nameplate hr {
    border-style: solid;
    border-width: 1px;
}

.nameplate > img {
    float: left;
    object-fit: fill;
    max-width: 180px;
    min-height: 100%;
    padding-right: 5px;
}

.nameplate > .iconify{
    position: absolute;
    bottom: 0.75rem;
    right: 1rem;
}

br {                    /* decrease break line height */
    display: block;
    content: "";
    margin-top: 0px;
}